# coding: utf-8
<h1>【Loginしてくれ】</h1>

<h2>- Mindmeister -</h2>
<% if session["auth_token"] == nil %>
<%= form_tag ({:controller => 'mindmeisters', :action => :logIn}) do -%>
<%= submit_tag 'Mindmeister Login' %>
<% end  -%>
<% else %>
Mindmeisterで認証ok
<br><br>
<% end %>
<br>
<br>

<h2>- Redmine -</h2>
<% if session["r_url"] == nil %>
<%= form_tag ({:controller => 'redmines', :action => :inputInfo}) do -%>
<p id="paragraph">Server URL</p>
　　<%= text_field_tag 'text_field[r_url]', '', :size => 80, :id => "input_area" %><br>
<p id="paragraph">User Name</p>
　　<%= text_field_tag 'text_field[r_user_name]', '', :size => 40, :id => "input_area" %><br>
<p id="paragraph">Password</p>
　　<%= password_field_tag 'text_field[r_password]', '', :size => 40, :id => "input_area" %><br>

<%= submit_tag 'Send' %>
<% end  -%>
<% else %>
Redmine Server URL<br>
[ <%= session["r_url"] %> ]<br><br>
Redmine User Name<br>
[ <%= session["r_user_name"] %> ]

<% end %>


<br><br>
<h3><%= link_to "Redmine", "/getProjects" %></h3>
<h3><%= link_to "Mindmeister", "/mindmeister_top" %></h3>
<br><br>
<br><br>

<%= form_tag ({:controller => 'redmines', :action => :destroy}) do -%>
<%= submit_tag 'Session Destroy' %>
<% end -%>
