# coding: utf-8
<h1>Redmeister Top</h1>
<br><br>

<h3><%= link_to "Redmine", "/getProjects" %></h3>
<h3><%= link_to "Mindmeister", "/mindmeister_top" %></h3>
<br><br>
<br><br>
<h3><%= link_to "Setting", "/setting" %></h3>

<%= form_tag ({:controller => 'application', :action => :destroy}) do -%>
<%= submit_tag 'Logout' %>
<% end -%>
