# coding: utf-8
<h1>Authentication</h1>

<h2>- Mindmeister -</h2>
<% if session["auth_token"] == nil %>
<%= form_tag ({:controller => 'application', :action => :logIn}) do -%>
<%= submit_tag 'Login' %>
<% end -%>

<% else %>
  Mindmeister Login.
<% end %>
<br>
<br>
<br>


<h2>- Redmine -</h2>
<%= form_tag ({:controller => 'redmines', :action => :inputInfo}) do -%>
<p id="paragraph">Server URL</p>
　　<%= text_field_tag 'text_field[redmine_url]', '', :size => 300, :id => "input_area" %><br>
<p id="paragraph">User Name</p>
　　<%= text_field_tag 'text_field[redmine_user_name]', '', :size => 150, :id => "input_area" %><br>
<p id="paragraph">Password</p>
　　<%= password_field_tag 'text_field[redmine_password]', '', :size => 150, :id => "input_area" %><br>
<br>
<%= submit_tag 'Save' %>
<% end  -%>


<br><br>
<h3><%= link_to "Top Page", root_path %></h3>
